<ion-header-bar class="bar-dark">
	<div class="buttons">
	<button class="button button-icon icon ion-android-arrow-back" ui-sref="settingDetail"></button>
	</div>
	<sapn class="back-title">通用</sapn>
</ion-header-bar>
<ion-content class="has-header">
	<div class="rj-contacts-index-bar"></div>
	<ul class="list">
		<li class="item item-toggle item-padding">
			开启横屏模式
			<label for="" class="toggle toggle-energized">
				<input type="checkbox" checked="">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-padding">
			朋友圈小视频
			<span class="item-set-des">仅Wi-Fi</span>
		</li>
		<li class="item item-padding">自动下载微信安装包<span class="item-set-des">仅Wi-Fi网络</span></li>
		<li class="item item-padding">多语言<span class="item-set-des">跟随系统</span></li>
		<li class="item item-padding">字体大小<span class="item-set-des">标准</span></li>
		<li class="item item-padding">功能</li>
		<li class="item item-padding">流量统计</li>
		<li class="item item-padding">清理微信存储空间</li>
	</ul>
</ion-content>