<ion-header-bar class="bar-dark">
	<div class="buttons"><button class="button button-icon icon ion-android-arrow-back" ui-sref="groupDetail"></button></div>
	<span class="back-title">聊天信息(37)
	  <i class="icon ion-android-notifications-off"></i>
</span>
</ion-header-bar>
<ion-content class="has-header">
	<div class="rj-contacts-index-bar"></div>
	<div class="member-info">
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_01.jpg" alt=""></div>
			<div class="member-name">蔡侠</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_02.jpg" alt=""></div>
			<div class="member-name">黄泽雄</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_03.jpg" alt=""></div>
			<div class="member-name">林玉玲</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_04.jpg" alt=""></div>
			<div class="member-name">黄利舒</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_05.jpg" alt=""></div>
			<div class="member-name">曾繁聪</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_06.jpg" alt=""></div>
			<div class="member-name">林俏希</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_07.jpg" alt=""></div>
			<div class="member-name">朱炳光</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_08.jpg" alt=""></div>
			<div class="member-name">听、你的好友【囍】已上线</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_09.jpg" alt=""></div>
			<div class="member-name">李浩</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_10.jpg" alt=""></div>
			<div class="member-name">黄腾野</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_11.jpg" alt=""></div>
			<div class="member-name">翁明鸿</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_12.jpg" alt=""></div>
			<div class="member-name">许桂蓝</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_13.jpg" alt=""></div>
			<div class="member-name">周炯</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_14.jpg" alt=""></div>
			<div class="member-name">黄雯雯</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_15.jpg" alt=""></div>
			<div class="member-name">林伟全</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_16.jpg" alt=""></div>
			<div class="member-name">劳梦欣</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_17.jpg" alt=""></div>
			<div class="member-name">韩美霞</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_18.jpg" alt=""></div>
			<div class="member-name">洪惜意</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_19.jpg" alt=""></div>
			<div class="member-name">翁燕纯</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_20.jpg" alt=""></div>
			<div class="member-name">李欣娜</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_21.png" alt=""></div>
			<div class="member-name">陈桂青</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_22.png" alt=""></div>
			<div class="member-name">陈小碧</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_24.png" alt=""></div>
			<div class="member-name">黄莉纯</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_25.png" alt=""></div>
			<div class="member-name">聂宇媫</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_26.jpg" alt=""></div>
			<div class="member-name">黄桂芳</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_27.jpg" alt=""></div>
			<div class="member-name">黄婷</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_28.jpg" alt=""></div>
			<div class="member-name">陈旭华</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_29.jpg" alt=""></div>
			<div class="member-name">黄志楷</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_30.jpg" alt=""></div>
			<div class="member-name">曾勇宁</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_31.jpg" alt=""></div>
			<div class="member-name">张弼华</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_32.jpg" alt=""></div>
			<div class="member-name">廖智鹏</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_33.jpg" alt=""></div>
			<div class="member-name">李彩秀</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_34.jpg" alt=""></div>
			<div class="member-name">邓瑞华</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_35.jpg" alt=""></div>
			<div class="member-name">李浩佳</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_36.jpg" alt=""></div>
			<div class="member-name">杜娜君</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_37.jpg" alt=""></div>
			<div class="member-name">方荣</div>
		</div>
		<div class="member-box">
			<div class="member-head"><img src="img/group/1_38.jpg" alt=""></div>
			<div class="member-name">李春发</div>
		</div>
		<div class="member-box">
			<div class="member-head member-plus">
				<i class="icon ion-android-add"></i>
			</div>
		</div>
	</div>
		<div class="total-info">
			全部群成员（37）
		</div>

	<div class="rj-contacts-index-bar"></div>
	<ul class="list">
		<li class="item item-padding">群聊名称
		<span class="item-set-des">实力不可测122</span></li>
		<li class="item item-padding">群二维码
		<span class="icon ion-android-apps right-arrow"></span>
		</li>
		<li class="item item-padding">
			群公告
			<div class="sub-description">
				这是信管122的微信群，请同学们改好备注方便联系~~
			</div>
		</li>
	</ul>

	<ul class="list">
		<li class="item item-toggle item-padding">
			消息免打扰
			<label for="" class="toggle toggle-balanced">
				<input type="checkbox" checked="">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-toggle item-padding">
			置顶聊天
			<label for="" class="toggle toggle-balanced">
				<input type="checkbox" >
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-toggle item-padding">
			保存到通讯录
			<label for="" class="toggle toggle-balanced">
				<input type="checkbox" checked="">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
	</ul>
	<ul class="list">
		<li class="item item-padding">
			我在本群的昵称
			<span class="item-set-des">
				听、你的好友【囍】已上线
			</span>
		</li>
		<li class="item item-padding item-toggle">
			显示群成员昵称
			<label for="" class="toggle toggle-balanced">
				<input type="checkbox" checked="">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
	</ul>
	<ul class="list">
		<li class="item item-padding">设置当前聊天背景</li>
		<li class="item item-padding">查找聊天记录</li>
		<li class="item item-padding">聊天文件</li>
		<li class="item item-padding">投诉群</li>
	</ul>

	<ul class="list">
		<li class="item item-padding">清空聊天记录</li>
	</ul>
	<button class="delete-exit button button-block button-assertive">
		删除并退出
	</button>
</ion-content>