<ion-header-bar class="bar-positive">
<div class="buttons">
	<button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.find"></button>
</div>
	<h2 class="title">动听音乐</h2>
</ion-header-bar>
<ion-content class="has-header">
	<div class="card list">
		<div class="item item-avatar">
			<img src="img/xue.jpg" alt="薛之谦">
			<h2>薛之谦</h2>
			<p>《演员》</p>
			<audio src="data/actor.mp3" controls="controllers" class="audio-button"></audio>
			<button class="button button-icon icon ion-play play-button" ng-click="play()"></button>
		</div>
		<div class="item item-body">
			<img src="img/xue2.jpg" alt="专辑封面" class="full-image">
			<p>
				简单点 说话的方式简单点<br>
递进的情绪请省略<br>
你又不是个演员<br>
别设计那些情节<br><br>
没意见 我只想看看你怎么圆<br>
你难过的太表面 像没天赋的演员<br>
观众一眼能看见<br><br>
该配合你演出的我 演视而不见<br>
在逼一个最爱你的人 即兴表演<br>
什么时候我们开始 收起了底线<br>
顺应时代的改变 看那些拙劣的表演<br><br>
可你曾经那么爱我 干嘛演出细节<br>
我该变成什么样子 才能延缓厌倦<br>
原来当爱放下防备后的这些那些<br>
才是考验<br><br>
没意见 你想怎样我都随便<br>
你演技也有限 又不用说感言<br>
分开就平淡些<br><br>
该配合你演出的我 演视而不见<br>
别逼一个最爱你的人 即兴表演<br>
什么时候我们开始 没有了底线<br>
顺着别人的谎言 被动就不显得可怜<br><br>
可你曾经那么爱我 干嘛演出细节<br>
我该变成什么样子 才能配合出演<br>
原来当爱放下防备后的这些那些<br>
都有个期限<br><br>
其实台下的观众就我一个<br>
其实我也看出你有点不舍<br>
场景也习惯我们来回拉扯<br>
还计较著什么<br><br>
其实说分不开的也不见得<br>
其实感情最怕的就是拖着<br>
越演到中场戏越哭不出了<br>
是否还值得<br><br>
该配合你演出的我 尽力在表演<br>
像情感节目里的嘉宾 任人挑选<br>
如果还能看出我有爱你的那面<br>
请剪掉那些情节 让我看上去体面<br>
可你曾经那么爱我 干嘛演出细节<br>
不在意的样子是我最后的表演<br>
是因为爱你我才选择表演 这种成全
			</p>
			<p style="float:right;"><a href="" class="subdued">喜欢15464</a><a href="" class="subdued">评论15455</a></p>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left">
			<a href="" class="tab-item"><i class="icon ion-heart rj-assertive"></i>赞</a>
			<a href="" class="tab-item"><i class="icon ion-chatbox-working rj-positive"></i>评论</a>
			<a href="" class="tab-item"><i class="icon ion-share rj-energized"></i>分享</a>
		</div>
	</div>
</ion-content>