<ion-header-bar class="bar-dark">
	<div class="buttons">
	<button class="button button-icon icon ion-android-arrow-back" ui-sref="settingDetail"></button>
	</div>
	<sapn class="back-title">隐私</sapn>
</ion-header-bar>
<ion-content class="has-header">
	<div class="wallet-title">通讯录</div>
	<ul class="list">
		<li class="item item-toggle item-padding">
			加我为朋友时需要验证
			<label for="" class="toggle toggle-royal">
				<input type="checkbox" checked="">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-toggle item-padding">
			为我推荐QQ 好友
			<label for="" class="toggle toggle-royal">
				<input type="checkbox" checked="">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
	</ul>
			<div class="wallet-title">可以搜索到我</div>
		<ul class="list">
			<li class="item item-toggle item-padding">
				通过微信号搜索到我
				<label for="" class="toggle toggle-royal">
					<input type="checkbox" checked="">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle item-padding">
				通过QQ号搜索到我
				<label for="" class="toggle toggle-royal">
					<input type="checkbox" checked="">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</ul>
		<div class="wallet-title">朋友圈</div>
		<ul class="list">
			<li class="item item-padding">不让他(她)看我的朋友圈</li>
			<li class="item item-padding">不看他(她)的朋友圈</li>
			<li class="item item-toggle item-padding">
				允许陌生人查看十张照片
				<label for="" class="toggle toggle-royal">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</ul>
</ion-content>