<ion-header-bar class="bar-dark">
	    <div class="buttons">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.find">
        </button>
    </div>
          	<div class="buttons"><button class="button button-icon icon ion-android-search"></button></div>
      <label class="item item-input search-input">
        <input  placeholder="搜索">
    </label>
        <div class="buttons">
            <button class="rj-footer-btn button button-icon icon ion-ios-mic-outline" style="bottom:4px;"></button>
        </div>
</ion-header-bar>
<ion-content>
	<div class="flex-container">
		<div class="flex-item">
			<div class="wrap">
				<i class="icon ion-aperture"></i>
			</div>
				<p>朋友圈</p>
		</div>
		<div class="flex-item">
			<div class="wrap">
				<i class="icon ion-ios-book"></i>
			</div>
				<p>文章</p>
		</div>
		<div class="flex-item">
			<div class="wrap">
				<i class="icon ion-speakerphone"></i>
			</div>
				<p>公众号</p>
		</div>
	</div>
</ion-content>