<ion-header-bar class="bar-dark">
	<div class="buttons">
	<button class="button button-icon icon ion-android-arrow-back" ui-sref="settingDetail"></button>
	</div>
	<sapn class="back-title">帐号与安全</sapn>
</ion-header-bar>
<ion-content class="has-header">
	<div class="rj-contacts-index-bar"></div>
	<div class="wallet-title">帐号</div>
	<ul class="list">
		<li class="item item-padding">微信号<span class="item-set-des">hishion_wax</span></li>
		<li class="item item-padding">QQ号<span class="item-set-des">956****28</span></li>
		<li class="item item-padding">手机号<span class="item-set-des">未绑定</span></li>
		<li class="item item-padding">邮件地址<span class="item-set-des">未绑定</span></li>
	</ul>
	<div class="wallet-title">安全</div>
	<ul class="list">
		<li class="item item-padding">
			声音锁
			<span class="badge badge-assertive">New</span>
		</li>
		<li class="item item-padding">微信密码</li>
		<li class="item item-padding">
		帐号保护
		<span class="unprotected">
		<i class="icon ion ion-ios-unlocked"></i>未保护</span></li>
		<li class="item item-padding">
			手机安全防护
			<span class="item-set-des">未启用</span>
		</li>
		<li class="item item-padding">
			微信安全中心
			<div class="sub-description">
				如果你遇到微信被盗、无法登录等问题，可以前往安全中心。
			</div>
		</li>
	</ul>
</ion-content>