<ion-header-bar class="bar-dark" style="height:50px;">
	<div class="buttons">
	<button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.setting"></button>
	</div>
	<div class="walletTitle">
		<span class="first-title">我的钱包</span>
		<span class="second-title">微信安全支付</span>
	</div>
	<div class="buttons">
	<button class="button-icon icon ion-android-more-vertical right-more"></button>
	</div>
</ion-header-bar>
<ion-content class="has-header">
	<div class="wallet-part1">
		<div class="flex-item">
			<div class="top-icon" style="margin-top: 15%;">
					<i class="icon ion-android-checkbox-outline"></i>
			</div>
				<p>付款</p>
		</div>
		<div class="flex-item">
			<div class="top-icon">
					<i class="icon ion-social-yen-outline"></i>
			</div>
				<p>零钱</p>
				<span>￥5.20</span>
		</div>
		<div class="flex-item">
				<div class="top-icon" style="margin-top: 15%;">
					<i class="icon ion-ios-browsers-outline"></i>
				</div>
				<p>银行卡</p>
		</div>
	</div>

	<div class="wallet-title">腾讯服务</div>
	<div class="wallet-part2">
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-arrow-swap" style="color:orange;"></i></div>
			<p class="card-name">转账</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-usd-outline" style="color:#378AC5;"></i></div>
			<p class="card-name">手机充值</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-freebsd-devil" style="color:#1891E6;"></i></div>
			<p class="card-name">理财通</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-tux" style="color:#227EFC;"></i></div>
			<p class="card-name">Q币充值</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-foursquare-outline" style="color:#34DB6A;"></i></div>
			<p class="card-name">生活缴费</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-designernews-outline" style="color:#1EE39D;"></i></div>
			<p class="card-name">城市服务</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-ios-photos-outline" style="color:#29DE81;"></i></div>
			<p class="card-name">借用卡还款</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-android-mail" style="color:#F55454;"></i></div>
			<p class="card-name">微信红包</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-angular-outline" style="color:#16EF5C;"></i></div>
			<p class="card-name">AA收款</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-heart" style="color:#ED162C;"></i></div>
			<p class="card-name">腾讯公益</p>
		</div>
		<div class="card-box"></div>
		<div class="card-box"></div>
</div>
	<div class="wallet-title">第三方服务</div>
	<div class="wallet-part3">
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-android-car" style="color: #FAE513;"></i></div>
			<p class="card-name">滴滴出行</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-android-subway" style="color: #0D0303;"></i></div>
			<p class="card-name">火车票机票</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-ios-home" style="color: #0A96FC;"></i></div>
			<p class="card-name">酒店</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-android-bus" style="color: #2D45F5;"></i></div>
			<p class="card-name">58到家</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-reddit-outline" style="color: #F25B5B;"></i></div>
			<p class="card-name">美丽说</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-social-javascript-outline" style="color: #F60E0E;"></i></div>
			<p class="card-name">京东精选</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-film-marker" style="color:#632DDF;"></i></div>
			<p class="card-name">电影演出赛事</p>
		</div>
		<div class="card-box">
			<div class="card-icon"><i class="icon ion-beer" style="color:#986445;"></i></div>
			<p class="card-name">吃喝玩乐</p>
		</div>
		<div class="card-box">
		</div>
	
</ion-content>